body {
  background-color: #ffffff;
  color: #000000;
  font-size: 18px;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

a{
  text-decoration: none;
}

a:hover {
  color:#ffffff;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

h1 {
  color: #0A5FC1;
  font-size: 3rem;
  padding: 10px 0px 10px 0px;
}

h3 {
  font-size: 1.8rem;
  color: #4787D1;
  padding: 10px 0px 10px 0px;
}

figcaption {
  color: #878787;
  font-size: 0.9rem;
  padding: 10px 0px 20px 0px;
}

.author {
  color: #878787;
  font-size: 1.2rem;
}

.story-text {
  line-height: 1.3rem;
}

p {
  padding-bottom: 20px;
}
